.login-container {
  width: 300px;
  margin: 60px auto;
  padding: 20px;

  border: 1px solid #ccc;
  border-radius: 8px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;

  border: 1px solid #aaa;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;

  background-color: #1976d2;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;
  margin-top: 10px;
}

.login-container button:hover {
  background-color: #125aa0;
}