.students-container {
  width: 600px;
  margin: 40px auto;
  padding: 20px;

  font-family: Arial, sans-serif;
  background-color: white;

  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.students-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #aaa;
}

.form button {
  padding: 8px 15px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #125aa0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #1976d2;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.logout-btn {
  background-color: #d32f2f;
  color: white;

  border: none;
  border-radius: 4px;

  padding: 8px 15px;
  cursor: pointer;

  margin-bottom: 15px;
}

.logout-btn:hover {
  background-color: #a62828;
}